<div class="pharmacy-list-item">
  <div class="pharmacy-name">
    <%= link_to (pharm.name + " / " + pharm.city), pharmacy_path(pharm) %>
  </div>
  <div class="pharm-fields">
      <%= render 'pharmacy_fields', pharm: pharm %>
  </div>
</div>
