<h2><%= @pharmacy.name %> -- <%= @pharmacy.city %></h2>

<div class="pharm-fields">
    <%= render 'pharmacy_fields', pharm: @pharmacy %>
</div>

<h3>Recent Activity</h3>
<% if @pharmacy.rx_alerts.empty? %>
    <p>(none to report)</p>
<% else %>
    <% @pharmacy.get_rev_sorted_alerts(20).each do |alert| %>
        <%= render 'rx_alerts/alert_feed_item', alert: alert %>
    <% end %>
<% end %>
