<div class="alert-entry">
	<% if rx_alert_tile.generic_name %>
	  <%= rx_alert_tile.brand_name + ' / ' + rx_alert_tile.generic_name %>
	<% else %>
	  <%= rx_alert_tile.brand_name %>
	<% end %>
</div>
