<h2>Recent Alerts<%= link_to 'Add New Alert', new_rx_alert_path, {class: 'nav-button nav-active-action nav-top-right'} %></h2>
<div class="activity-feed">
  <%= render partial: 'rx_alert_tile', collection: @rx_alerts %>
</div>