<!DOCTYPE html>
<html>
<head>
  <title>Checkrx</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="banner-top"><div class="banner-title">Check</div><div class="banner-icon"></div></div>
<div class="main-body">
	<%= yield %>
</div>
</body>
</html>
